# Python
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
.mypy_cache/
.pytest_cache/

# Static/Media (if dynamically generated)
app/static/media/

# MongoDB dump files
dump/